// footer
.p-footer {
  background-color: #082447;
  color: #EAECF0;

  a {
    color: #EAECF0;
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid #475467;

    &__content {
      margin-right: 15px;

      p {
        font-size: 20px;
        line-height: 1.5em;
        margin-bottom: 8px;
      }

      span {
        line-height: 1.5em;
      }
    }

    &__form {
      form {
        width: 400px;
        display: flex;
        align-items: center;

        label {
          margin-right: 16px;

          input {
            padding: 10px 14px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            background-color: #fff;
            color: #667085;
            width: 280px;
            height: 44px;
            border-radius: 8px;
            border: none;

            &::placeholder {
              font-size: 16px;
              color: inherit;
            }
          }
        }

        input[type='submit'] {
          background-color: yellow;
          border: none;
          border-radius: 8px;
          color: #fff;
          background-color: #DA5D03;
          text-align: center;
          font-weight: 400;
          font-size: 14px;
          height: 40px;
        }
      }
    }
  }

  &-main {
    padding: 70px 0;
    position: relative;

    &__row {
      display: flex;

    }

    &__col {
      margin-right: 50px;

      &:first-child {
        max-width: 278px;
        margin-right: 80px;

        p {
          font-size: 18px;
          line-height: 1.6em;
          margin-bottom: 32px;
        }
      }

      h4 {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 24px;
        line-height: 1.05em;
        font-weight: 700;
        font-family: Gotham, sans-serif !important;
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    border-top: 1px solid #475467;

    &__content {
      p {
        color: #F8F8F8;
        margin-bottom: 16px;
        font-weight: 300;
        font-size: 14px;
        line-height: 13px;
        font-family: Gotham, sans-serif !important;

      }

      ul {
        display: flex;
        align-items: center;

        li {
          &:not(:last-child) {
            margin-right: 16px;
          }

          a {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #F8F8F8;
          }
        }
      }
    }

    &__social {
      display: flex;
      align-items: center;

      a {
        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }

  &-logo {
    width: 176px;
    margin-bottom: 32px;
  }

  &-menu {
    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 105%;
      }
    }
  }
}

.approved {
  position: absolute;
  bottom: 80px;
  right: 0;
}