@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url(../fonts/Gotham-Book.woff) format("woff"), url(../fonts/Gotham-Book.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url(../fonts/Gotham-Bold.woff) format("woff"), url(../fonts/Gotham-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url(../fonts/Gotham-Medium.woff) format("woff"), url(../fonts/Gotham-Bold.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}


@font-face {
  font-family: Kamerik;
  font-display: swap;
  src: url(../fonts/Kamerik105.woff) format("woff"), url(../fonts/Kamerik105.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Kamerik;
  font-display: swap;
  src: url(../fonts/Kamerik105Bold.woff) format("woff"), url(../fonts/Kamerik105Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
